.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #ffcc99 33%, #ff9966 89%);
  height: 100vh;
}

.Buttons {
  display: flex;
  margin: 20px 0 0 0;
}

.FirstGroup {
  display: flex;
  flex: 1;
}

.SecondGroup {
  display: flex;
}

.Box {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
  padding: 30px;
  background-color: white;
}

.Author {
  text-align: end;
  margin: 10px 0;
  font-family: "Audiowide", cursive;
  font-size: 20px;
}

.Quote {
  font-size: 24px;
  font-family: "Oleo Script", cursive;
}

.Button {
  background-color: #ff9966;
  color: #fff;
  height: 40px;
  width: 100px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
}
.Link {
  height: 40px;
  width: 40px;
  border: 0;
  border-radius: 5px;
  background-color: #ff9966;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
